.component-apis-main {
  height:1000px;
}
.component-apis-breadcrumb ol li:last-child a {
  color:grey;
  pointer-events: none;
}

.component-apis-breadcrumb ol li > a, .module-components-breadcrumb ol li > a {
  cursor: pointer;
}
.module-components-breadcrumb ol li:last-child a {
  color:grey;
  pointer-events: none;
}

.table tr td > a {
  cursor: pointer;
  text-decoration: none;
}

.table tr  {
  td:first-child {
    width:20px;
  }
  td {
    span.method {
      font-size: 12px;
      //background-color: green;
      color:white;
      font-weight: bold;
      padding: 5px 10px;
      margin-left:10px;
    }
    .component-api-meta {
      .api-name {
        display: -webkit-inline-box;
        cursor: pointer;
      }
      .api-url {
        float:right;
        margin-right: 25px;
        color: gray;
      }
    }
  }
}

.breadcrumb > li + li:before {
  color: #ccc;
  content: "> ";
  padding: 0 5px;
}
