<div *ngIf="isComponentApiDetail">
  <div class="component-apis-breadcrumb">
    <ol class="breadcrumb">
      <li><a>{{apiDetail.module}}</a></li>
      <li><a>{{apiDetail.component}}</a></li>
    </ol>
  </div>
  <table class="table table-bordered">
    <tr *ngFor="let api of apis">
      <td><a (click)="getDetailOfApi(api)">{{api.apiName}}</a></td>
    </tr>
  </table>
</div>
<div *ngIf="!isComponentApiDetail">
  <div class="module-components-breadcrumb">
    <ol class="breadcrumb">
      <li><a>Foundation</a></li>
    </ol>
  </div>
  <div>
    <table class="table table-bordered">
      <tr *ngFor="let category of categories">
        <td><a href="#">{{category.component}}</a></td>
      </tr>
    </table>
  </div>
</div>
