<div class=" row route-content">
  <router-outlet></router-outlet>
</div>
<div class="row footer-content">
    <div class="panel panel-default" id="footer-panel">
        <div class="panel-footer">
          <ul>
            <li>
              <a href="#">Introduction</a>
            </li>
            <li>
              <a href="#">About This Guide</a>
            </li>
            <li>
              <a href="#">Limitations on Warranties and Liability Saba</a>
            </li>
            <li>
              <a href="#">How to Contact Saba</a>
            </li>
          </ul>
        </div>
      </div>
</div>
