<div id="main-container">
  <div class="nav-header">
    <div>
      <img alt="Brand" src="../assets/images/logo.jpg">
      <div id="saba-navbar" class="navbar navbar-default">
        <h1>SABA</h1>
        <div>
          <div>
            <h2>Rest API Documentation</h2>
          </div>
          <div class="global-search-placeholder">
            <div>
              <div class="global-search-text-area">
                <input _ngcontent-c0="" class="form-control" placeholder="Search globally here" type="text">
              </div>
              <div class="global-search-icon-area">
                <i class="fa fa-search" aria-hidden="true" (click)="performSearch()"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
