.route-content {
  //height:1044px;
}
 #footer-panel {
  margin-top: 38px;
}
.panel-footer ul {
  text-align: center;
  margin-top: 5px;
  li {
    display: inline-block;
    margin: 0px 40px;
    text-align: center;
  }
}

