

.child-content {
  margin-left: 10px;
  h4 {
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    max-width: 250px;
    span {
      margin-right: 10px;
    }
  }
  .api-listing {
    margin-left:30px;
    width: 200px;
    p {
      cursor: pointer;
    }
  }
}
.selected {
  font-weight: bold;
  background-color: #DEEAF4;
  border-left: 2px solid;
  padding-left: 10px;
}
