

.main-content {

  app-child-category {
  }
  h3 {
    cursor: pointer;
    display: flex;
    span {
      margin-right: 10px;
    }
  }

  .api-listing {
    margin-left:30px;
    width: 200px;
    p {
      cursor: pointer;
    }
    p:hover {
      text-decoration:underline;
    }
  }

  .selected {
    font-weight: bold;
    background-color: #DEEAF4;
    border-left: 2px solid;
    padding-left: 10px;
  }

}
