@import url('https://fonts.googleapis.com/css?family=Roboto');
#main-container {
  font-family: inherit;
  margin: 0px 50px;
  .nav-header {
    display: block;
    padding-left: 10px;
    .nav-banner-heading {
      margin-top: 20px;
    }
    img {
      float: left;
      margin-top: 8px;
      margin-right: 10px;
    }
    .web-api-subtitle {
      float: left;
      padding-top: 10px;
    }
    h2 {
      margin-top: 10px;
      margin-bottom: 0px;
    }
    h3 {
      margin: 0px;
      padding: 0px 0px 10px 0px;
    }
    .global-search-placeholder {
      float: right;
      width: 240px;
      margin-right: 20px;
      input {
        width: 220px;
        border-radius: 4px;
      }
      .global-search-text-area {
        float: left;
      }
      .global-search-icon-area {
        float: right;
        padding-top: 7px;
        width: 20px;
        padding-left: 5px;
        i {
          cursor: pointer;
        }
      }
    }
    border-bottom: 10px solid #78BE20;
    margin-bottom: 10px;
  }
  .api-reference-main {
    margin:0px 0px;
    .left-navigation {
      float: left;
      padding-right: 10px;
      div.row {
        padding-bottom: 10px;
      }
      input {
        width: 100%;
      }
      width:280px;
      .api-list-navigation {
        border-bottom:1px solid #dbdbdb;
        margin-left: 5px;
        overflow-y: scroll;
        height: 1000px;
        .list-group {
          margin-top: 30px;
          p.api_entry {
            cursor: pointer;
            font-size: 12px;
          }
        }
      }
    }
  }
  .footer-content {
    margin: 0px 0px;
    #footer-panel {
      margin-top: 38px;
      .panel-footer ul {
        text-align: center;
        margin-top: 5px;
        li {
          display: inline-block;
          margin: 0px 40px;
          text-align: center;
          a {
            cursor: pointer;
          }
        }
      }
    }
  }
}
